chardet==5.2.0
charset-normalizer==3.4.0
colorama==0.4.6
Cython==3.0.2
panda3d-blend2bam==0.26.0
panda3d-gltf==1.2.1
panda3d-pman==0.16.0
panda3d-simplepbr==0.12.0
pyaudio
git+https://github.com/spatialaudio/python-sounddevice.git
pydub
psutil==5.9.7
numpy==1.25.0
imageio
pandas
pytest
pyyaml
threadpoolctl
configparser
importlib_resources
jaraco.path
pycparser
winapi

